checkout:
  post:
    - git clone -b master git@github.com:stackstorm-exchange/index.git ~/index

dependencies:
  override:
    - ~/index/.circle/dependencies

test:
  override:
    - ~/index/.circle/test

deployment:
  index:
    branch: master
    owner: StackStorm-Exchange
    commands:
      - ~/index/.circle/deployment
